/* GLOBAL ---------------------------------------------------------------------*/
.featured-text-info p, .about-info p{
    font-size: 1.3rem;
    font-weight: lighter;
    margin-bottom: 1.9rem;
    color: var(--text-color-second);
    text-align: justify;
    text-transform: none;
    line-height: 1.3;
}
/* FEATURED ---------------------------------------------------------- */
.featured-box{
    position: relative;
    display: flex;
    min-height: calc(100vh);
    padding-top: 70px;
}

/* FEATURED TEXT */
.featured-text{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100%;
    flex-direction: column;
    width: 50%;
    padding-left: 1.3rem;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: .2rem .5rem;
    font-size: 1.2rem;
    border-radius: .3rem;
}
.featured-name{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 1.2rem;
}
.typedText{
    color: var(--second-color);
}

.featured-text-btn{
    display: flex;
    gap: 1.2rem;
}
.featured-text-btn>.hire-btn{
    background: var(--first-color);
    color: var(--color-white);
    border-radius: .6rem;
}
.featured-text-btn>.hire-btn:hover{
    background: var(--first-color-hover) ;
}

.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 1.8rem;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--text-color-second);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}

/* FEATURED IMAGE */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    width: 50%;
}
.image{
    /* margin: auto 0; */
    width: 23.8rem;
    height: 23.8rem;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 23.8rem;
    height: 23.8rem;
    object-fit: cover;
}
@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* ABOUT ME---------------------------------------------------- */
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
}
.col{
    display: flex;
    width: 50%;
}

/* ABOUT INFO */
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 1.8rem;
    padding-inline: 1.2rem;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 1.2rem;
}
.about-info p{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--text-color-second);
    margin-bottom: .9rem;
    line-height: 1.3;
}

/* ABOUT / SKILLS */
.skills-box{
    margin: .6rem;
}
.skills-header{
    margin-bottom: 1.8rem;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}
.skills-list span{
    font-size: 1.3rem;
    background: var(--first-color);
    color: var(--color-white);
    padding: .1rem .6rem;
    border-radius: .3rem;
    letter-spacing: .1rem;
}

/* PROJECT ------------------------------------------------------- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 15.6rem;
    background: var(--color-white);
    border-radius: 1.2rem;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    cursor: pointer;
}
.project-box>i{
    font-size: 3.1rem;
    color: var(--first-color);
    margin-bottom: 1.5rem;
}
.project-box label{
    font-size: 1.1rem;
    color: #777;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--first-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 2;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box label{
    color: var(--color-white);
    z-index: 5;
}

/* CONTACT ------------------------------------------------------- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1.8rem;
    width: 100%;
    height: 19.7rem;
    background: var(--first-color);
    border-radius: .6rem;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 1.2rem;
}
.contact-info p{
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--color-white);
    margin-block: .3rem;
    font-size: 1.3rem;
    text-transform: none;
}
.contact-info p>i{
    font-size: 1.7rem;
}
.contact-info::after{
    background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #777;
    z-index: 5;
}

/* CONTACT FORM */
.form-control{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: .6rem;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 3.5rem;
    background: transparent;
    border: var(--border);
    border-radius: .6rem;
    padding-inline: 1.2rem;
    text-transform: none;
}
textarea{
    width: 100%;
    height: 15.6rem;
    background: transparent;
    border: var(--border);
    border-radius: .6rem;
    padding: .9rem 1.2rem;
    resize: none;
    text-transform: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--first-color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: var(--first-color-hover);
}
.form-button i {
    rotate: -45deg;
}





/* MEDIA QUERYS---------------------------------------------------------- */

/* MEDIA QUERY == 991PX / RESPONSIVE */
@media (max-width:991px) {

    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 20rem;
        height: 20rem;
    }
     
}

/* MEDIA QUERY == 768PX / RESPONSIVE */
@media (max-width:768px){
    
    .featured-box{
        flex-direction: column;
        justify-content: center;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 3em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 15rem;
        width: 100%;
        /* margin-top: 4rem; */
    }
    .image, .image img{
        width: 15rem;
        height: 15rem;
    }
    .row{
        flex-direction: column;
        justify-content: center;
        gap: 3.1rem;
    }
    .col{
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }
}


/* MEDIA QUERY == 450PX / RESPONSIVE */
@media (max-width:450px) {

    .image, .image img{
        width: 15rem;
        height: 15rem;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }

    /* PROJECT */
    .image_project, .image_project img{
        width: 20rem;
        height: 20rem;
    }
  
}